.emptyListStatus {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
  text-align: center !important;
  color: #9aa0ac !important;
}

.productSmall {
  width: 15%;
}

.machineMainImage {
  width: 25%;
}

.imageSquare {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem !important;
}

.imageSquare2 {
  border-radius: 0% !important;
  width: 5.5rem !important;
  height: 5.5rem !important;
  background-size: contain !important;
  background-color: white !important;
}

.warehouse {
  height: 21.2rem;
}

.dimmerCentered {
  position: revert !important;
}

@media screen and (max-width: 1200px) {
  .test {
    display: none !important;
  }
}
